
.big-box-nopadding {
    padding: 0px;
    width: 480px;
    height: 460px;
    max-width: 100%;
    max-height: 100%;
    border-style: none;
  
}

.first-row {
    background-color: #bdc3c7;
}
.second-row{
    background-color: #445b5d;
}

.first-back {
    background: url('../img/first-back.png') repeat;
    width: 480px;
    height: 460px;
    max-width: inherit;
    max-height: auto;
    position: relative;
    display: inline-block;
    padding-top: 25%;
    text-align: center;
}

.first-back>h1>strong {
    color: #232323;
}

.first-back>h1+h1>small {
    color: #232323;
}

.first-back>span {
    background: url('../img/white.png') repeat;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70px;
    max-width: 70px;
    height: 3px;
}

.first-back div>a {
    padding-top: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #232323;
}



.second-back {
    background: url('../img/second-back.png') repeat;
    width: 480px;
    height: 460px;
    max-width: inherit;
    max-height: auto;
    position: relative;
    display: inline-block;
    padding-top: 25%;
    text-align: center;
}


.second-back>h1>strong {
    color: #fff;
}

.second-back>h1+h1>small {
    color: #fff;
}


.second-back>span {
    background: url('../img/black.png')repeat;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70px;
    max-width: 70px;
    height: 3px;
}

.second-back div>a {
    padding-top: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.btn-img{
    padding:0;
    position: relative;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 1024px) {

    .first-row  .btn-img{
       
        overflow: hidden;
   }

.first-row .first-back{

     
      overflow: hidden;
}

.second-row  .btn-img{
      
       overflow: hidden;
   }

.second-row .second-back{

   
     overflow: hidden;
}

}

@media (min-width: 1100px) {

.first-row  .btn-img{
        transition:all  1s ease-in-out;
        display:inline-block;
        overflow: hidden;
   }

.first-row .first-back{

     transition:all  1s ease-in-out;
     display:inline-block;
      overflow: hidden;
}

.second-row  .btn-img{
       transition:all  1s ease-in-out;
       display:inline-block;
       overflow: hidden;
   }

.second-row .second-back{

     transition:all  1s ease-in-out;
     display:inline-block;
     overflow: hidden;
}




    .exchange-left {
  transform: translateX(-100%);
  
     /*  transform:translate3d(-100%,100%,0) */
}

.exchange-right{
    transform: translateX(100%); 
    
    /* transform:translate3d(100%,-100%,0)*/
    
}

}